

.gov-container {
  padding: 20px;
  background: #f8f9fa;
  min-height: 100vh;
  
}

.gov-header {
  background: #0d3b66;
  /* background-color: "#0d3b66"; */
  color: white;
  padding: 10px 15px;
  font-weight: 600;
}

.gov-card {
  border: 1px solid #dee2e6;
}

.card-header {
  background: #f1f3f5;
}

.nav-tabs .nav-link {
  font-size: 14px;
}

.form-control-sm {
  height: 32px;
}


